#content {
    margin: 0 auto;
    /** max-width: 1600px; **/
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /** grid-gap: 40px; **/
}
.cherry {
    grid-column: 1/2;
    width: 200px;
    height: 200px;
}
.gray-box {
    grid-column: 2/3;
    width: 200px;
    max-height: 200px;
    background-color: grey;
}
h1 {
    grid-column: 1/3;
    z-index: 1;
    font-size: 2em;
}
.cherry-img {
    width: 200px;
}